<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="14"
    android:versionName="3.0.1"
    package="com.wardellbagby.sensordisabler">

  <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
  <application
      android:name="com.wardellbagby.sensordisabler.DefaultApplication"
      android:allowBackup="true"
      android:fullBackupContent="false"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/AppTheme">

    <activity
        android:name="com.wardellbagby.sensordisabler.MainActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
        <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
      </intent-filter>
    </activity>

    <meta-data
        android:name="xposedmodule"
        android:value="true" />
    <meta-data
        android:name="xposedminversion"
        android:value="2.0*" />
    <meta-data
        android:name="xposeddescription"
        android:value="Allows you to disable and modify sensors available on your device." />

    <provider
        android:name="com.wardellbagby.sensordisabler.SensorDisablerPreferenceProvider"
        android:authorities="com.wardellbagby.sensordisabler"
        android:exported="true"
        tools:replace="android:authorities" />

    <receiver
        android:name="com.wardellbagby.sensordisabler.tasker.TaskerActionReceiver"
        android:exported="true"
        android:process=":background"
        tools:ignore="ExportedReceiver">

      <!-- this Intent filter allows the plug-in to discovered by Locale -->
      <intent-filter>
        <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
      </intent-filter>
    </receiver>
    <activity
        android:name=".tasker.TaskerActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
      </intent-filter>
    </activity>
  </application>

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="com.android.vending.BILLING" />
  <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
</manifest>
